

div.MenuBox	{
		border: 5px solid #434343;
		width: 100%;
		width: 300px;
		display: block;
		margin: 50px 75px
}

div.LinkBorder { 
		border: 5px solid #434343;
		text-align: center; 
}


div.image-container {
  display: grid;
  grid-template-columns: repeat (3, 2);
  grid-gap: 5px;
}


div.container-inside {
	display: grid;
	grid-template-columns: repeat (3fr, 1fr);
}

.header-border {
	width: 300px;
	text-align: center;
}

.image-size {
	width: 300px;
}