

div.LinkBorder { 
		border: 5px solid #434343;
		text-align: center; 
}


div.container-inside {
	display: grid;
	grid-template-columns: repeat (1, 3fr);
	background: #900E74;
}

div.topheader {
	overflow: hidden;
	background-color: #900E74;
}

body	{
	background-color: #C28C18;
}

.floating-box {
    float: left;
    width: 23%;
    height: 99%;
    margin: 5px;
    border: 1px solid;
	background-color: #FFD738;
}

.floating-box2 {
    float: left;
    width: 23%;
    height: 99%;
    margin: 5px;
    border: 1px solid;
	background-color: #FFD738;
}

.container{
  width: 66%;
  height: auto;
  float: center;
  text-align: center;
}

