
/* Homepage */
div.LinkBorder { 
		border: 5px solid #434343;
		padding-bottom: 5px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 5px;
		text-align: center;
		background: #900E74;
		float: left;
		width: 20.85%;
}




img.strawberrysquare {
	float: left;
}

/*
div.container-inside {
	display: grid;
	grid-template-columns: repeat (1, 3fr);	
}
*/

div.topheader {
	overflow: hidden;
	background-color: #900E74;
}

body	{
	background-color: #C28C18;
}

.floating-box {
    float: left;
    width: 23%;
    height: 99%;
    margin: 5px;
    border: 5px solid;
	background-color: #FFD738;
}

.floating-box2 {
    float: left;
    width: 23%;
    height: 99%;
    margin: 5px;
    border: 5px solid;
	background-color: #FFD738;
}

.container{
  width: 80%;
  height: auto;
  float: center;
  text-align: center;
}


